<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- <link rel="icon" href="data:,">   Add this to remove favicon.ico--> 

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
